.App {
  padding-top: 50px;
  font-family: sans-serif;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.typeahead-form-group {
  position: relative;
}

.typeahead-list-group {
  position: absolute;
  width: 100%;
  top: 38px;
  left: 0;
}

.typeahead-list-group-item {
  padding: 0.3rem 1.3rem;
  background-color: #fff;
}

.typeahead-list-group-item:hover {
  cursor: pointer;
  background: #646464;
  color: #fff;
}

.typeahead-spinner-container {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
